<div style="width: 300px;margin: 100px auto;font-size: 20px;line-height: 2;">
    <form action="/logout" method="post" style="margin-bottom: 50px">
        <button type="submit">Выход из сессии</button>
    </form>
    <div>Пользователь: {{ user.name }}</div>
    <div>Текущий баланс: {{ user.balance }}</div>
    <form method="post" action="/transaction">
        <input type="hidden" name="csrf" value="{{ user.CSRFToken }}">
        <div>
            <label for="js-balance-input">Вывод средств: </label>
            <input type="text" placeholder="Сумма вывода" name="sum" id="js-balance-input">
        </div>
        <button style="margin-top: 20px">Вывести</button>
    </form>

    {% if (okMsg) %}
        <h4 style="color: green">{{ okMsg.0 }}</h4>
    {% endif %}

    {% if (errors) %}
        <h3>Ошибки:</h3>
        <div style="color: red">
            {% for error in errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>


    {% endif %}
</div>