<form action="/login" method="post" style="width: 300px;margin: 100px auto;">
    <div>
        <label for="login">Логин</label>
        <input type="text" name="auth[login]" value="demo">
    </div>
    <div>
        <label for="login">Пароль</label>
        <input type="password" name="auth[password]">
    </div>
    <div>
        <button type="submit">Вход</button>
    </div>

    <div style="margin-top: 25px;color: grey">Логин: demo    Пароль: demo</div>

    {% if (errors) %}
        <h3>Ошибки:</h3>
        <div style="color: red">
            {% for error in errors %}
                <div>{{ error }}</div>
            {% endfor %}
        </div>


    {% endif %}
</form>